<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.msversion03" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".THWelcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginDialog"
            android:label="@string/title_activity_login_dialog" >
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name=".ViewProjects"
            android:label="@string/title_activity_view_projects"
            android:parentActivityName=".HomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.msversion03.HomePage" />
        </activity>
        <activity
            android:name=".UpdateSales"
            android:label="@string/title_activity_update_sales"
            android:parentActivityName=".ViewProjects" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.msversion03.ViewProjects" />
        </activity>
        <activity
            android:name=".SubmitDisplay"
            android:label="@string/title_activity_submit_display"
            android:parentActivityName=".UpdateSales" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.msversion03.UpdateSales" />
        </activity>

        <provider
            android:name=".SalesDataProvider"
            android:authorities="com.mycompany.provider.SaleData"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".SelectParameters"
            android:label="@string/title_activity_select_parameters"
            android:parentActivityName=".HomePage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.msversion03.HomePage" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".SelectParameters" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mycompany.msversion03.SelectParameters" />
        </activity>
    </application>

</manifest>
